@{
    ViewBag.Title = "About";
}
<div class="main-body">

    <h1><b>FAQ's</b></h1>

    <h3>What's 0hp?</h3>
    <p>0hp is your companion when it comes to keeping track of your Dungion and Dragons games! You can store up to 3 characters sheets with the campaign associated with it!</p>

    <h3>How do I get started?</h3>
    <p>bla bla bla</p>

    <h3>Who do I contact for more help?</h3>
    <p>bla bla bla</p>
</div>
