@{
    ViewBag.Title = "Contact";
}


<div class="main-body">

    <h2>Support!</h2>

    <p>Please feel free to email us at any time or feel free to check out our FAQ page!</p>

    <address>
        201 Lawrence Place <br />
        Williston, VT 05495-7166 <br />
        <abbr title="Phone">Phone number:</abbr>
        123.456.7890
    </address>

    <address>
        <strong>Support:</strong><a href="mailto:0hpSupport@example.com">0hpSupport@example.com</a><br />
    </address>
</div>
