@{
    ViewBag.Title = "0HP Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool loggedIn = true; 
}

<div class="main-body">
    <div class="row">
        <div class="col-md-9">
            <h2>Grettings, fellow adventurer!</h2>
            <h3>You're on the 0HP home page. The free internet tabletop simulator!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a dignissim sem, pharetra sagittis lectus. Fusce nec odio at nisl fermentum sagittis. Mauris ullamcorper finibus erat ut pellentesque. Pellentesque hendrerit faucibus erat, vitae ultrices nisl mattis finibus. Phasellus aliquam tellus vel blandit egestas. Donec eget volutpat turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque leo turpis, eget ullamcorper nulla imperdiet in. Aliquam erat volutpat. Vestibulum pellentesque sapien sed mi tristique pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            <p>Sed mattis dignissim neque vel feugiat. Integer luctus, nulla vel ultricies dictum, mauris velit ullamcorper elit, sit amet suscipit ipsum nunc ut elit. Nunc libero massa, tincidunt luctus ornare eget, volutpat vitae sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla mi erat, euismod sed tellus quis, condimentum varius ante. Aenean et fringilla dolor. Nullam pharetra dapibus lorem, eget semper ligula dignissim ac. Praesent interdum, eros nec dapibus sodales, ligula justo sagittis nunc, ac interdum sapien mi vitae massa. Morbi diam massa, tincidunt vitae maximus vel, feugiat et nunc. Sed consequat dui et dignissim rhoncus. Maecenas vehicula porttitor lectus, vel volutpat magna vulputate sed. Suspendisse venenatis iaculis mi, in tempor orci interdum eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tristique luctus lorem vitae pharetra. Nulla vitae odio justo.</p>
            <p>Donec lacinia dignissim sem, at placerat ipsum eleifend non. Duis arcu dolor, cursus sit amet molestie a, consequat et nibh. Integer a lacinia turpis. Fusce consequat massa a sem tempor, eu dignissim ipsum egestas. Pellentesque consectetur at elit non congue. Nunc metus urna, mollis et magna at, tincidunt luctus ligula. Nunc in ipsum at lacus sagittis mollis sit amet consectetur ex. Proin facilisis sapien et felis cursus vehicula. Donec quis turpis gravida mi gravida faucibus. Integer euismod arcu augue, a iaculis lectus posuere sit amet. Aliquam facilisis, augue vel rhoncus vestibulum, dui leo euismod nibh, at lacinia quam orci sit amet quam.</p>
        </div>
        <div class="col-md-3">
            <form method="POST" action="" >
                <div class="login">
                    <h3>Login!</h3>
                    <small id="welcomeBack" class="text-muted">Welcome back!</small>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Enter password" />
                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Submit", "Login", new { id = "loginSubmit" }, new { @class = "btn btn-primary" })                   
                    </div>
                </div>
            </form>
            <hr />
            <form method="POST" action="" >
                <div class="sign-up">
                    <h3>Sign Up!</h3>
                    <div class="form-group">
                        <small id="usernameHelp" class="form-text text-muted">What is your name, traveller?</small>
                        <input type="text" class="form-control" id="newUsername" aria-describedby="emailHelp" placeholder="Enter username" />
                    </div>
                    <div class="form-group">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <input type="email" class="form-control" id="newEmail" aria-describedby="emailHelp" placeholder="Enter email" />
                    </div>
                    <div class="form-group">
                        <small id="passwordHelp" class="form-text text-muted">What is your password?</small>
                        <input type="password" class="form-control" id="newPassword" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="confNewPassword" placeholder="Confirm Password" />
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" id="agreeToTerms">
                        <label class="form-check-label" for="agreeToTerms">I agree to the terms of use.</label>
                    </div>
                    @Html.ActionLink("Submit", "signUp", new { id = "signUpSubmit" }, new { @class = "btn btn-primary" })
                </div>
            </form>
        </div>
    </div>
</div>