@{
    ViewBag.Title = "0hp Home";
}
@Styles.Render("~/Content/StyleSheet1.css")

    <div class="main-body">
        <div style="float: right; margin-right: 5px; width: 311px; height: 275px">
            <div class="sign-up">
                <b>SIGNUP!</b>
                <table width="310px" style="display: inline-table;">
                    <colgroup>
                        <col style="width: 125px;" />
                        <col style="width: 175px;" />
                    </colgroup>
                    <tr>
                        <td>Username: </td>
                        <td style="color: black;"><input type="text" value="JohnnyB"></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td style="color: black;"><input type="text" value="JohnnyBravo@email.com"></td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td style="color: black;"><input type="password" value="Paswword"></td>
                    </tr>
                    <tr>
                        <td>Password confirm: </td>
                        <td style="color: black;"><input type="password" value="Password"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="color: black;"><button type="button">Sign up!</button></td>
                    </tr>
                </table>
            </div>

            <div class="login" style="margin-top: 5px;">
                <b>Login!</b>
                <table width="310px" style="display: inline-table;">
                    <colgroup>
                        <col style="width: 125px;" />
                        <col style="width: 175px;" />
                    </colgroup>
                    <tr>
                        <td>Username: </td>
                        <td style="color: black;"><input type="text" value="username"></td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td style="color: black;"><input type="password" value="password"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="color: black;"><button type="button">Login</button></td>
                    </tr>
                </table>
            </div>
        </div>




        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a dignissim sem, pharetra sagittis lectus. Fusce nec odio at nisl fermentum sagittis. Mauris ullamcorper finibus erat ut pellentesque. Pellentesque hendrerit faucibus erat, vitae ultrices nisl mattis finibus. Phasellus aliquam tellus vel blandit egestas. Donec eget volutpat turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque leo turpis, eget ullamcorper nulla imperdiet in. Aliquam erat volutpat. Vestibulum pellentesque sapien sed mi tristique pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <p>Sed mattis dignissim neque vel feugiat. Integer luctus, nulla vel ultricies dictum, mauris velit ullamcorper elit, sit amet suscipit ipsum nunc ut elit. Nunc libero massa, tincidunt luctus ornare eget, volutpat vitae sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla mi erat, euismod sed tellus quis, condimentum varius ante. Aenean et fringilla dolor. Nullam pharetra dapibus lorem, eget semper ligula dignissim ac. Praesent interdum, eros nec dapibus sodales, ligula justo sagittis nunc, ac interdum sapien mi vitae massa. Morbi diam massa, tincidunt vitae maximus vel, feugiat et nunc. Sed consequat dui et dignissim rhoncus. Maecenas vehicula porttitor lectus, vel volutpat magna vulputate sed. Suspendisse venenatis iaculis mi, in tempor orci interdum eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tristique luctus lorem vitae pharetra. Nulla vitae odio justo.</p>
        <p>Donec lacinia dignissim sem, at placerat ipsum eleifend non. Duis arcu dolor, cursus sit amet molestie a, consequat et nibh. Integer a lacinia turpis. Fusce consequat massa a sem tempor, eu dignissim ipsum egestas. Pellentesque consectetur at elit non congue. Nunc metus urna, mollis et magna at, tincidunt luctus ligula. Nunc in ipsum at lacus sagittis mollis sit amet consectetur ex. Proin facilisis sapien et felis cursus vehicula. Donec quis turpis gravida mi gravida faucibus. Integer euismod arcu augue, a iaculis lectus posuere sit amet. Aliquam facilisis, augue vel rhoncus vestibulum, dui leo euismod nibh, at lacinia quam orci sit amet quam.</p>
    </div>