<!-- Change Class from "row" to CharStats-->
<div style="width: 100%; height: ; border: 1px solid red; margin-right: 10px; float: left; padding: 5px 5px 5px 5px;">
    <div style="float: left; margin-right: 5px; padding: 5px 5px 5px 5px;">
        <table border="1" style=" display: inline-table;">
            <colgroup>
                <col sstyle="padding:5px 10px 5px 5px;">
                <col>
                <col>
            </colgroup>
            <tr>
                <th colspan="3" align="center">STATS</th>
            </tr>
            <tr>
                <th>&nbsp;Catagory&nbsp;</th>
                <th>&nbsp;Main Number&nbsp;</th>
                <th>&nbsp;Sub Stats&nbsp;</th>
            </tr>
            <tr>
                <td>Proficiency Bonus</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Inspiration</td>
                <td>__</td>
                <td></td>
            </tr>
            <tr>
                <td>Stength</td>
                <td>__</td>
                <td>
                    __ Saving Throws
                    <br />__ Athletics
                </td>
            </tr>
            <tr>
                <td>Dexterity</td>
                <td>__</td>
                <td>
                    __ Saving Throws
                    <br />__ Acrobatics
                    <br />__ Sleight of Hand
                    <br />__ Stealth
                </td>
            </tr>
            <tr>
                <td>Constitution</td>
                <td>__</td>
                <td>
                    __ Saving Throws
                </td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td>__</td>
                <td>
                    __ Saving Throws
                    <br />__ Arcana
                    <br />__ History
                    <br />__ Investigation
                    <br />__ Nature
                    <br />__ Religion
                </td>
            </tr>
            <tr>
                <td>Wisdom</td>
                <td>__</td>
                <td>
                    __ Saving Throws
                    <br />__ Animal Handling
                    <br />__ Insight
                    <br />__ Medicine
                    <br />__ Perception
                </td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td>__</td>
                <td>
                    __ Saving Throws
                    <br />__ Deception
                    <br />__ Intimidation
                    <br />__ Performance
                    <br />__ Persuasion
                </td>
            </tr>
            <tr>
                <td>Passive Wisdom (Perception)</td>
                <td>__</td>
                <td><!--Nothing--></td>
            </tr>
        </table>
    </div>
    <div style="padding: 5px 5px 5px 5px; display: inline-block; background-color: pink; float: left;">

        <div style="border-style: dashed; width: 450px">
            <div style="padding: 5px 5px 5px 5px; display: inline-block">
                <table border="1" style="display: inline-table;">
                    <tr><th colspan="2">Weapon 1</th></tr>
                    <tr>
                        <td>Weapon:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>__:</td>
                    </tr>
                    <tr>
                        <td>Range:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Attack Bonus:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Damage:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>__</td>
                    </tr>
                </table>
            </div>

            <div style="padding: 5px 5px 5px 5px; display: inline-block">
                <table border="1" style="display: inline-table;">
                    <tr><th colspan="2">Weapon 2</th></tr>
                    <tr>
                        <td>Weapon:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Range:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Attack Bonus:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Damage:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>__</td>
                    </tr>
                </table>
            </div>
            <div style="padding: 5px 5px 5px 5px; display: inline-block">
                <table border="1" style="display: inline-table;">
                    <tr><th colspan="2">Weapon 3</th></tr>
                    <tr>
                        <td>Weapon:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Range:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Attack Bonus:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Damage:</td>
                        <td>__</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>__</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="padding: 5px 5px 5px 5px; display: inline-block">
            <table border="1" style="display: inline-table;">
                <tr>
                    <td>Character Name</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>Class &amp; Level</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>Player Name</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>Race</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>Alignment</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>Experience Point</td>
                    <td>__</td>
                </tr>
            </table>
        </div>
        <div style="padding: 5px 5px 5px 5px; display: inline-block">
            <table border="1" style="display: inline-table;">
                <tr>
                    <td>Features</td>
                    <td>__</td>
                </tr>
            </table>
        </div>
        <div style="padding: 5px 5px 5px 5px; display: inline-block">
            <table border="1" style="display: inline-table;">
                <tr>
                    <td>Feat</td>
                    <td>__</td>
                </tr>
            </table>
        </div>
        <div style="padding: 5px 5px 5px 5px; display: inline-block">
            <table border="1" style="display: inline-table;">
                <tr>
                    <td>CP</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>SP</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>GP</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>PP</td>
                    <td>__</td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>__</td>
                </tr>
            </table>
        </div>
        <div style="padding: 5px 5px 5px 5px; display: inline-block">
            <table border="1" style="display: inline-table;">
                <tr>
                    <td>Accessible Items</td>
                    <td>__</td>
                </tr>
            </table>
        </div>
    </div>
</div>

