@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="map" class="col">
        <script type="text/javascript">
            var canvasDiv = document.getElementById('map');
            var canvas = document.createElement('canvas');

            canvas.setAttribute("height", 300);
            canvas.setAttribute("width", 400);

            canvas.setAttribute('style', "border:1px black solid");
            canvas.setAttribute('id', "canvas");
            canvasDiv.appendChild(canvas);
            if (typeof G_vmlCanvasManager != 'undefined') {
                canvas = G_vmlCanvasManager.initElement(canvas);
            }
            ctx = canvas.getContext("2d");

            ctx.fillStyle = "#FF0000";
            ctx.fillRect(0, 0, 150, 75);
        </script>
    </div>

    <div class="col">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" href="#characterSheet" data-toggle="tab" role="tab">Character Sheet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#chat" data-toggle="tab" role="tab">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#actors" data-toggle="tab" role="tab">Actors</a>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="sidebarContent">
        <div class="tab-pane fade in show active" role="tabpanel" id="characterSheet">
            Character Sheet
        </div>
        <div class="tab-pane fade" role="tabpanel" id="chat">
            Chat
        </div>
        <div class="tab-pane fade" role="tabpanel" id="actors">
            Actors
        </div>
    </div>
</div>