<!-- This is the page that will contain tabs for the CharacterSheet, Map, Chat, and Actors tab--depending on whether or not user is
    a DM.-->
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#map" data-toggle="tab">Map</a>
    </li>
    <li>
        <a href="#characterSheet" data-toggle="tab">Character Sheet</a>
    </li>
    <li>
        <a href="#chat" data-toggle="tab">Chat</a>
    </li>
    <li>
        <a href="#actors" data-toggle="tab">Actors</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active" id="map">
        @Html.Partial("_Map");
    </div>
    <div class="tab-pane fade" id="characterSheet">
        @Html.Partial("_CharacterSheet");
    </div>
    <div class="tab-pane fade" id="chat">
        <p>Placeholder text. Chat goes here.</p>
    </div>
    <div class="tab-pane fade" id="actors">
        <p>Placeholder text. Actors goes here.</p>
    </div>
</div>