@model DADS.Models.GameChar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col" style="overflow:scroll">
        <div id="mapArea" style="position:relative;">
            <div class="btn-toolbar" role="toolbar" aria-label="Map controls." style="position:absolute;top:5px;left:5px;z-index:2">
                <div class="input-group">
                    <span class="btn btn-light btn-file">
                        Change map
                        <input type="file" id="chngMapBtn" />
                    </span>
                    <span class="btn btn-light btn-file">
                        Add actors
                        <input type="file" />
                    </span>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-light" id="eraseBtn">Erase</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/map.js"></script>

    <div class="col">
        <ul class="nav nav-tabs bg-light nav-justified" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" href="#characterSheetPanel" data-toggle="tab" role="tab">Character Sheet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#chatPanel" data-toggle="tab" role="tab">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#actorPanel" data-toggle="tab" role="tab">Actors</a>
            </li>
        </ul>
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="characterSheetPanel" role="tabpanel" aria-labelledby="cs-tab">

        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="characterSheetPanel" role="tabpanel" aria-labelledby="cs-tab">Character Sheet</div>
            <div class="tab-pane fade" id="actorPanel" role="tabpanel" aria-labelledby="actor-tab">Actors</div>
            <div class="tab-pane fade" id="chatPanel" role="tabpanel" aria-labelledby="chat-tab">Chat</div>
        </div>
    </div>
</div>

