@{
    ViewBag.Title = "0hp";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Map</title>
</head>
<div id="canvasContainer" style="padding:10px 5px 10px 5px">
    <canvas id="mapCanvas" width="800" height="600" style="border:1px solid black"></canvas>
</div>
