@model DADS.player_sheets

@{
    ViewBag.Title = "AddGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body">
    @using (Html.BeginForm())
    {
        <table>
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name: </td>
                    <td>@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td>description: </td>
                    <td>@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save Game!" class="btn btn-primary" id="addGame" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

