@model DADS.player_sheets

@{
    ViewBag.Title = "AddGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body">
    @using (Html.BeginForm())
    {
        <table>
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name: </td>
                    <td>@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td>description: </td>
                    <td>@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <!--@Html.ActionLink("Save Game!", "signUp", new { id = "signUpSubmit" }, new { @class = "btn btn-primary" })-->
                        @Html.ActionLink("Create Character", "Index", "GamesList", null, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

